.checkbox-text-wrap {
  white-space: normal;
}

.mat-checkbox {
  display: block;
  background: #FAFAFA;
  padding: 4px;
  margin-top: 4px;
  margin-bottom: 4px;
  border-radius: 4px;
}

.mat-card {
  padding: 6px;
}

.block {
  min-width: 250px;
  max-width: 340px;
  margin: 4px;
}

.mat-card-title {
  font-size: 1.2em;
  margin: 8px;
  font-weight: 500;
}

.block-title {
  font-size: 1.4em;
  font-weight: 400;
}

.container {
  display: flex;
  flex-wrap: wrap;
}
