mat-checkbox.checkbox {
  display: block;
  .mat-checkbox-layout {
    background: yellow;
    .mat-checkbox-label {
      white-space: pre-wrap;
    }
  }
}

.mat-checkbox-label {
  white-space: pre-wrap;
  background: yellow;
}

.mat-checkbox-layout {
  line-height: 30px;
  white-space: pre-wrap;
  background: red;
}

checkbox label.mat-checkbox-layout span.mat-checkbox-label {
  background: blue;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.block {
  //  min-width: 300px;
  //  white-space: pre-line;
}
