.question-group {
  display: flex;
  flex-direction: column;
  div {
    display: flex;
    align-items: center;
    svg {
      margin: 0.5em;
      flex-shrink: 0;
    }
  }
}

.panel {
  border-radius: 0.5em;
  margin: 0.5em;
  background-image: repeating-linear-gradient(180deg, white, #E0E0FF);
}

.best {
  circle, rect {
    fill: green;
  }
  font-weight: bold;
}

.middleUp {
  circle, rect {
    fill: #00ff02;
  }
}

.middleDown {
  circle, rect {
    fill: #ffa200;
  }
}

.worst {
  circle, rect {
    fill: red;
  }
  text-decoration: line-through;
}

.question {
  margin-left: 0.5em;
  min-width: 250px;
  max-width: 250px;
  padding: 0.5em;
  border-radius: 0.5em;
  background-image: repeating-linear-gradient(180deg, white, transparent);
}

@media screen and (min-device-width: 320px) and (max-device-width: 700px) {
  .question {
    max-width: 500px;
    min-width: 100px;
    padding: 0.5em;
    border-radius: 0.5em;
    background-image: repeating-linear-gradient(180deg, white, transparent);
  }
}
