.question-group {
  display: flex;
  flex-direction: column;
  div {
    display: flex;
    align-items: center;
    svg {
      margin: 0.5em;
      flex-shrink: 0;
    }
  }
}

.question {
  margin-left: 0.5em;
  min-width: 400px;
  max-width: 400px;
  padding: 0.25em;
  border-radius: 0.25em;
  background-image: repeating-linear-gradient(180deg, white, transparent);
}

.panel {
  border-radius: 0.5em;
  margin: 0.5em;
  background-image: repeating-linear-gradient(180deg, white, #D0D0FF);
}

.best {
  path:nth-child(2) {
    fill: green;
  }
  font-weight: bold;
}

.worst {
  path:nth-child(2) {
    fill: red;
  }
  text-decoration: line-through;
}

@media screen and (min-device-width: 320px) and (max-device-width: 700px) {
  .question {
    max-width: 500px;
    min-width: 100px;
    padding: 0.25em;
    border-radius: 0.25em;
    background-image: repeating-linear-gradient(180deg, white, transparent);
  }
}
