<mat-toolbar color="primary">
  <span>Test</span>
</mat-toolbar>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Anleitung
    </mat-panel-title>
    <mat-panel-description>
      Bedienungsanleitung
    </mat-panel-description>
  </mat-expansion-panel-header>
  <article>
    <div class="lopende-tekst">
      <h1 class="kop-1">DISC personality test</h1>

      <div id="social-media-quote" style="display: none">
        <div class="share-tooltip-container">
          <div class="share-tooltip no-print btn-toolbar" style="clear: both">
            <label class="tooltip-label">Share quote</label>
            <div class="btn-group social">
              <button
                onclick="PopupCenter('https://facebook.com/sharer.php?u=https://www.123test.com/disc-personality-test/', '', 400, 500,'social_quote_facebook'); return false;"
                type="button" class="" title="Share on Facebook">
                <svg class="icon-outline-svg icon-facebook-outline">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-facebook-outline"></use>
                </svg>
              </button>
              <button
                onclick="PopupCenter('https://twitter.com/intent/tweet?&amp;text=What%20is%20your%20DISC%20personality%20type%3F%20Free%20test%20with%20premium%20option%20for%20extended%20report%3A%20https%3A%2F%2Fwww.123test.com%2Fdisc-personality-test%2F', '', 350, 350,'social_quote_twitter'); return false;"
                type="button" class="" title="Share on Twitter">
                <svg class="icon-outline-svg icon-twitter-outline">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-twitter-outline"></use>
                </svg>
              </button>
              <button
                onclick="PopupCenter('http://www.linkedin.com/shareArticle?mini=true&amp;url=https://www.123test.com/disc-personality-test/&amp;share-text=The 123test DISC personality test determines your personality profile, based on the DISC types. Find out how you score on dominance, influence, steadiness and compliance by taking the free DISC test at https://www.123test.com/disc-personality-test/. If you enjoy your result, you can upgrade to an extended report afterwards.&amp;title=The 123test DISC personality test determines your personality profile, based on the DISC types. Find out how you score on dominance, influence, steadiness and compliance by taking the free DISC test at https://www.123test.com/disc-personality-test/. If you enjoy your result, you can upgrade to an extended report afterwards.', '', 900, 600,'social_quote_linkedin'); return false;"
                type="button" class="" title="Share on LinkedIn">
                <svg class="icon-outline-svg icon-linkedin-outline">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-linkedin-outline"></use>
                </svg>
              </button>
              <button type="button"
                      onclick="javascript:RenderHeader123test(metaStatUrl, 'social_email'); location.href='mailto:?subject=DISC%20personality%20test%20at%20123test&amp;body=The%20123test%20DISC%20personality%20test%20determines%20your%20personality%20profile%2C%20based%20on%20the%20DISC%20types.%20Find%20out%20how%20you%20score%20on%20dominance%2C%20influence%2C%20steadiness%20and%20compliance%20by%20taking%20the%20free%20DISC%20test%20at%20https%3A%2F%2Fwww.123test.com%2Fdisc-personality-test%2F.%20If%20you%20enjoy%20your%20result%2C%20you%20can%20upgrade%20to%20an%20extended%20report%20afterwards.'"
                      title="Email page" class="">
                <svg class="icon-outline-svg icon-mail-outline">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-mail-outline"></use>
                </svg>
              </button>
              <button class="visible-phone" type="button"
                      onclick="RenderHeader123test('whatsapp://send?text=The%20123test%20DISC%20personality%20test%20determines%20your%20personality%20profile%2C%20based%20on%20the%20DISC%20types.%20Find%20out%20how%20you%20score%20on%20dominance%2C%20influence%2C%20steadiness%20and%20compliance%20by%20taking%20the%20free%20DISC%20test%20at%20https%3A%2F%2Fwww.123test.com%2Fdisc-personality-test%2F.%20If%20you%20enjoy%20your%20result%2C%20you%20can%20upgrade%20to%20an%20extended%20report%20afterwards.', 'social_quote_whatsapp', true)"
                      data-action="share/whatsapp/share" title="Share with Whatsapp">
                <svg class="icon-outline-svg icon-whatsapp-outline">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-whatsapp-outline"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
      <p>This free <strong>DISC personality test</strong> lets you determine your DISC type and personality profile
        quickly. Find out how the DISC factors, Dominance, Influence, Steadiness and Compliance predict your behavior
        towards others and the everyday things you do.</p>
      <p>This <strong>online DISC assessment</strong> is designed to test personality by calculating your personal DISC
        profile based on your everyday typical behavior. Simply fill out the inventory like you would with other online
        personality tests. It's quick and without any obligations. Every year millions of people take DISC personality
        tests!</p>
      <p>In the detailed report you will find a graph depicting your DISC type, a concise textual characterization of
        your personality profile and elaborate explanations of all DISC factors. Additionally you can even upgrade to an
        extended report if you like.</p>
      <h2>DISC personality test instruction</h2>
      <p>This test contains 28 groups of four statements. Answer honestly and spontaneously. It should take you only 5
        to 10 minutes to complete.</p>
      <ul>
        <li>Study all the descriptions in each group of four</li>
        <li>Select the one description that you consider <strong>most like you</strong> (<img
          style="vertical-align: top;" src="/gedeeld/beeld/opmaak/tests/duim_omhoog.uit.gif" alt="most like you"
          height="23" width="18">)
        </li>
        <li>Study the remaining three choices in the same group</li>
        <li>Select the one description you consider <strong>least like you</strong> (<img style="vertical-align: top;"
                                                                                          src="/gedeeld/beeld/opmaak/tests/duim_omlaag.uit.gif"
                                                                                          alt="least like you"
                                                                                          height="23" width="18">)
        </li>
      </ul>
      <p>For each group of four descriptions you should have
        <ins>one</ins>
        <strong>most like you</strong> and only
        <ins>one</ins>
        <strong>least like you</strong>.
      </p>
      <p>Sometimes it may be difficult to decide which description to select. Remember there are no right or wrong
        answers in this DISC personality test, so just make the best decision you can.</p></div>
  </article>
</mat-expansion-panel>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Speichern
    </mat-panel-title>
    <mat-panel-description>
      Speicherverwaltung
    </mat-panel-description>
  </mat-expansion-panel-header>
</mat-expansion-panel>
<div class="container">
  <div *ngFor="let q of questions" class="panel">
    <app-question [question]="q" [answer]="answerService.getValue(q.id)"
                  (onAnswerChange)="onAnswerChange($event)"></app-question>
  </div>
</div>
<div class="evaluation">
  <button mat-raised-button color="primary">Auswertung</button>
</div>
