.cube4-selected {
  fill: #00ff00;
}

.cube3-selected {
  fill: #00cf00;
}

.cube2-selected {
  fill: #009f00;
}

.cube1-selected {
  fill: #006f00;
}

.cube-not-selected {
  fill: #ffffff;
}

svg {
  padding-top: 0.25em;
}
