<div class="container">
  <form>
    <mat-form-field class="module">
      <input matInput [(ngModel)]="moduleNumber" name="moduleNumber" placeholder="Modul laden" value="">
    </mat-form-field>
    <button mat-raised-button (click)="loadModule()" color="primary">Laden</button>
  </form>
  <span class="fill-remaining-space"></span>
  <!--
    <form>
      <button mat-raised-button (click)="resetModules()" color="primary">Reset</button>
    </form>-->
</div>
<mat-toolbar>
  <span>Geladene Module</span>
</mat-toolbar>
<button mat-raised-button *ngFor="let moduleKey of moduleService.loadedModules" routerLink="../{{moduleKey}}"
        color="primary" class="margin">
  {{moduleService.getModuleName(moduleKey)}}
</button>
