<div class="container">
  <app-toolbar title="Overview">
  </app-toolbar>
  <button mat-raised-button color="primary" (click)="clear()">Clear</button>
</div>
<div>
  <div *ngFor="let message of messages" (click)="remove(message)" class="chip">
    <span>{{message}}</span>
    <button mat-mini-fab color="primary" (click)="remove(message)">X</button>
  </div>
</div>
<!--
<md-form-field class="demo-chip-list">
  <mat-chip-list mdPrefix #chipList>
    <mat-chip *ngFor="let message of messages" [selectable]="selectable"
              [removable]="removable" (remove)="remove(message)">
      {{message}}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
  </mat-chip-list>
  <input mdInput placeholder="New fruit..."
         [mdChipInputFor]="chipList"
         [mdChipInputSeparatorKeyCodes]="separatorKeysCodes"
         [mdChipInputAddOnBlur]="addOnBlur"
         (mdChipInputTokenEnd)="add($event)"/>
</md-form-field>-->
<!--<mat-form-field>
  <mat-chip-list>
    <div *ngFor="let message of messages" class="chip-div">
      <mat-chip>{{message}}</mat-chip>
    </div>
  </mat-chip-list>
</mat-form-field>-->
